<%- include('../layouts'); -%>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Add NFTs</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item active">Add NFTs</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container">
                <% if(errors != "") {                                      
                    %>
                    <% errors.forEach((item) => { %>
                        <div class="alert alert-danger">
                            <%- item %>
                        </div>
                        <% }); %>
                            <% } %>

                                <% if(success != "") { %>
                                    <% success.forEach((item) => { %>
                                        <div class="alert alert-success">
                                            <%- item %>
                                        </div>
                                        <% }); %>
                                            <% } %>
                                                <!-- SELECT2 EXAMPLE -->
                                                <div class="card card-default">
                                                    <div class="card-header">
                                                        <h3 class="card-title">Add User</h3>

                                                    </div>
                                                    <!-- /.card-header -->
                                                    <div class="card-body">
                                                        <form id="FormUpload" role="form" action="/admin/nft/add" method="post" enctype="multipart/form-data">
                                                            <div class="row">
                                                                <div class="col-md-6">


                                                                    <div class="mb-3">
                                                                        <label class="form-label">Name</label>
                                                                        <input class="form-control form-control-lg " type="text" name="name" id="name" placeholder="Enter nft name" required/>

                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label class="form-label">Description</label>
                                                                        <textarea name="description" class="form-control"></textarea>

                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label class="form-label">Price</label>
                                                                        <input class="form-control form-control-lg" type="number" name="price" id="number" placeholder="Enter price" required/>

                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label class="form-label">File</label>
                                                                        <input class="form-control form-control-lg" type="file" name="file" id="nftFile" accept="image/*" required/>

                                                                    </div>
                                                                    <div>

                                                                    </div>
                                                                    <div class="text-left mt-3">

                                                                        <button type="submit" class="btn btn-lg btn-primary">Upload
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div id="FileImage"><img id="previewImg" width="250" src="/img/sample.jpg" alt="Placeholder"></div></div>
                                                            </div>
                                                        </div>
                                                                </form>
                </div>
                <!-- /.card -->

            </div>
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    <%- include('../footer'); -%>